.features {
  display: flex;
  flex-direction: column;
  &__image {
    margin: 1rem 0;
    height: 25rem;
    background: url("../images/illustration-laptop-mobile.svg") no-repeat
      center/ cover;
  }
  &__text {
    text-align: center;
    margin: 0 2rem;
  }
  &__heading3 {
    color: $clr-primary-darkBlue;
    font-size: 1.5rem;
    font-weight: 300;
  }
  &__paragraph {
    color: $clr-bg-darkDesBlue;
    margin: 2rem 0;
    line-height: 1.5;
  }
}
