@media screen and (min-width: 55.75em) {
  .burger {
    display: none;
  }

  .intro {
    background: url("../images/bg-pattern-intro.svg") no-repeat center/200%,
      linear-gradient(to right, $clr-bg-veryLightRed, $clr-bg-lightRed);
    &__logo {
      padding-left: 4rem;
      @media screen and (min-width: 70.625em) {
        padding-left: 12rem;
      }
    }
    &__btns {
      padding-right: 4rem;
      @media screen and (min-width: 70.625em) {
        padding-right: 12rem;
      }
    }
  }
  .nav {
    &__arrow {
      display: inline;
      &_dark {
        display: none;
      }
    }
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .info {
    &__heading2 {
      font-weight: 500;
    }
  }
}
