@media screen and (min-width: 55.75em) {
  .burger {
    display: none;
  }

  .intro {
    &__logo {
      padding-left: 6rem;
    }
    &__btns {
      padding-right: 6rem;
    }
  }
  .nav {
    &__arrow {
      display: inline;
      &_dark {
        display: none;
      }
    }
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .info {
    &__heading2 {
      font-weight: 500;
    }
  }
}
