@media screen and (min-width: 55.75em) {
  .burger {
    display: none;
  }

  .intro {
    background: url("../images/bg-pattern-intro.svg") no-repeat -20rem -75rem/200%,
      linear-gradient(to right, $clr-bg-veryLightRed, $clr-bg-lightRed);
    &__logo {
      margin-left: 4rem;
    }
    &__btns {
      margin-right: 4rem;
    }
  }
  .nav {
    &__arrow {
      display: inline;
      &_dark {
        display: none;
      }
    }
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .info {
    &__heading2 {
      font-weight: 500;
    }
  }
  .about {
    padding: 2rem 0;
    text-align: left;
    background: url("../images/illustration-editor-desktop.svg") no-repeat 156%
      3rem / contain;
    &__heading2 {
      text-align: center;
      font-size: 2rem;
    }
    &__heading3 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 5rem;
    }
    &__paragraph {
      padding: 0;
      line-height: 1.5;
    }
    &__block {
      flex-direction: row-reverse;
    }
    &__text {
      flex: 1;
    }
    &__image {
      flex: 1;
      background: none;
    }
  }
  .text {
    margin-left: 4rem;
  }
  .footer {
    flex-direction: row;
    align-items: flex-start;
    &__logo {
      margin-top: 4rem;
      margin-left: 4rem;
    }
    &__nav {
      display: flex;
      width: 80%;
      justify-content: space-evenly;
    }
    &__heading4 {
      margin-top: 4rem;
    }
  }
}
@media screen and (min-width: 70.625em) {
  .intro {
    &__logo {
      margin-left: 12rem;
    }
    &__btns {
      margin-right: 12rem;
    }
  }
  .text {
    margin-left: 12rem;
  }
  .about {
    background: url("../images/illustration-editor-desktop.svg") no-repeat 123%
      3rem / contain;
  }
  .footer {
    &__logo {
      margin-left: 12rem;
    }
  }
}

@media screen and (min-width: 96.875em) {
  .about {
    background: url("../images/illustration-editor-desktop.svg") no-repeat 100%
      3rem / contain;
  }
}
