// fonts
$fontUbuntu: "Ubuntu", sans-serif;
$fontOverpass: "Overpass", sans-serif;

// colors

$clr-white: hsl(0, 0%, 100%);
$clr-grayBlue: hsl(240, 2%, 79%);
$clr-darkGrayBlue: hsl(207, 13%, 34%);
$clr-darkBlackBlue: hsl(240, 10%, 16%);

$clr-bg-veryLightRed: hsl(13, 100%, 72%);
$clr-bg-lightRed: hsl(353, 100%, 62%);

$clr-bg-darkGrayBlue: hsl(237, 17%, 21%);
$clr-bg-darkDesBlue: hsl(237, 23%, 32%);
