.header {
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }
}

.links {
  display: none;
  &_active {
    display: block;
    background-color: $clr-white;
    position: fixed;
    right: 1rem;
    left: 1rem;
    top: 5rem;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-right: 40px solid $clr-white;
      top: -20px;
      right: 0;
    }
    .links__list {
      padding: 2rem 0 3rem 0;
    }
    .links__item {
      text-align: center;
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
  &__link {
    color: $clr-neutral-dgb;
  }
  &__btn {
    background-color: $clr-primary-yellow;
    color: $clr-neutral-vddb;
    border-radius: 30px;
    padding: 1em 1.5em;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-size: 0.8rem;
  }
}

.burger-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  transform: translateY(75%);
  &_active {
    .burger-menu__stripes {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}

.hero {
  &__heading {
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 2rem;
    color: $clr-white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-top: 5rem;
    font-weight: 900;
  }
  &__arrow-down {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    padding-bottom: 5rem;
    transform: translateY(-1rem);
  }
}
