@media screen and (min-width: 46.875em) {
  .block-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header {
    background-image: url("../images/desktop/image-header.jpg");
    height: 100vh;
    &__top {
      padding-top: 3rem;
    }
  }

  .logo {
    &__image {
      width: 10rem;
    }
  }

  .links {
    display: block;
    &__list {
      display: flex;
      align-items: center;
    }
    &__item:not(:last-of-type) {
      margin-right: 2rem;
    }
    &__link {
      color: $clr-white;
      opacity: 0.8;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
    &__btn {
      background-color: $clr-white;
      font-size: 1rem;
      transition: 0.3s;
      &:hover {
        background-color: lighten($color: rgb(62, 191, 255), $amount: 10%);
        color: $clr-white;
      }
    }
  }
  .burger-menu {
    display: none;
  }

  .hero {
    &__heading {
      font-size: 3rem;
      margin-top: 10rem;
    }
    &__arrow-down {
      margin-top: 10rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "transform transform-egg"
      "stand-out-cup stand-out";
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65%;
      margin: 0 auto;
      text-align: left;
      &-transform {
        grid-area: transform;
      }
      &-stand-out {
        grid-area: stand-out;
      }
    }
    &__image {
      min-height: 600px;
      &-transform {
        background-image: url("../images/desktop/image-transform.jpg");
        grid-area: transform-egg;
      }
      &-stand-out {
        background-image: url("../images/desktop/image-stand-out.jpg");
        grid-area: stand-out-cup;
      }
    }
    &__heading {
      margin-right: auto;
    }

    &__paragraph {
      line-height: 1.8;
    }

    &__link {
      margin-right: auto;
    }
  }

  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__block {
      &_design {
        background-image: url("../images/desktop/image-graphic-design.jpg");
      }
      &_photography {
        background-image: url("../images/desktop/image-photography.jpg");
      }
    }
    &__heading {
      font-size: 2.2rem;
    }
    &__text {
      margin-top: 2rem;
      width: 55%;
      line-height: 1.5;
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
    }
  }

  .testimonials {
    &__heading {
      margin-top: 10rem;
    }
    &__container {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      padding-bottom: 10rem;
    }
  }

  .card {
    &__photo {
      img {
        width: 100px;
        height: 100px;
      }
    }
    &__review {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    &__img-mobile {
      display: none;
    }
    &__img-desktop {
      display: block;
    }
  }
}
