.testimonials {
  &__heading {
    text-transform: uppercase;
    text-align: center;
    color: $clr-neutral-grayBlue;
    margin-top: 3rem;
    font-family: "Fraunces", serif;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    font-size: 1rem;
  }
  &__container {
    padding-bottom: 5rem;
  }
}

.card {
  text-align: center;
  &__photo {
    margin-top: 3rem;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
  &__review {
    margin-top: 2rem;
    color: $clr-neutral-vdgb;
  }
  &__name {
    margin-top: 3rem;
    font-family: "Fraunces", serif;
    font-weight: 900;
  }
  &__occupation {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $clr-neutral-grayBlue;
  }
}
