$clr-primary-softRed: hsl(7, 99%, 70%);
$clr-primary-yellow: hsl(51, 100%, 49%);
$clr-primary-ddc: hsl(167, 40%, 24%);
$clr-primary-darkBlue: hsl(198, 62%, 26%);
$clr-primary-dmc: hsl(168, 34%, 41%);

$clr-neutral-vddb: hsl(212, 27%, 19%);
$clr-neutral-vdgb: hsl(213, 9%, 39%);
$clr-neutral-dgb: hsl(232, 10%, 55%);
$clr-neutral-grayBlue: hsl(210, 4%, 67%);
$clr-white: hsl(0, 0%, 100%);
