@import "variables";

:root {
  font-size: 1.125rem;
  font-family: "Barlow", sans-serif;
  // font-family: 'Fraunces', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  max-width: 2400px;
  margin: 0 auto;
  box-shadow: 2px 0 #000, -2px 0 #000;
}

.block-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@import "header";
@import "grid";
@import "media";
